*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header_container{
    background-image: url("img/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(60, 60, 111, 0.746);
    max-height: 50px;
    color: wheat;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
}
.header_container h3{
    padding: 20px;
    color: rgba(60, 60, 111, 0.746);
}
.navigation{
    display: flex;
    width:30%;
    padding: 20px;
    margin-left: 20px;
}

.navigation ul, .hero_container .about_section ul{
    width:30%;
    padding-bottom: 20px;
}

.navigation li, .hero_container .about_section li{
    margin-bottom: 20px;
    margin-left: 20px;
    list-style-type: none;
}

.navigation li a, .hero_container .about_section a{
    text-decoration: none;
    color: black;
}

.hero_container{
  
    height: 80vh;
}

.introduction_section{
    background-color: wheat;
    height: 50vh;
    text-align: center;
}
.introduction_section h3{
    font-size: 40px;
    color:rgba(60, 60, 111, 0.746); ;
    padding: 30px 0;
}
.introduction_section p{
    font-size: 30px;
}

.introduction_section .job{
    padding-bottom: 40px;
}
.hero_container{
   max-height: 70vh;
    
}
.hero_container .about_section{
    background: url(img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(111, 111, 234, 0.049);
    max-height: 150vh;
    display: flex;
    
}
.hero_container .image_section{
    background-image: url(img/IMG-20221011-WA0007.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    width: 60%;
    height: 48vh;
}
.hero_container .text_section{
    width: 60%;
}
.hero_container .image_section{
    padding: 20px;
}
.hero_container .image_section img{
    width: 90%;
    height: 50vh;
}
.hero_container .about_section p{
    color: black;
    margin: 20px;
    font-size: 20px;
}
.hero_container .about_section ul{
    margin: 20px;
}
.hero_container ul a{
    font-family: 'Times New Roman', Times, serif;
}
.hero_container .text_section a :hover{
    color: rgba(111, 111, 234, 0.049);
    font-size: 20px;
}

#previous_job .container{
    background: wheat;
    max-height: 30%;
}

#previous_job .job{
    display: flex;
    
}
#previous_job ul{
    display: flex;
    list-style-type: none;
    padding-left: 50px;
}
#previous_job li{
    padding: 20px 50px ;
    margin: 10px 20px;
}
#previous_job .job h1{
    color: rgba(60, 60, 111, 0.746);
    font-size: 40px;
    font-weight: 600;
}

#previous_job .job p{
    margin-top: 10px;
    color: black;
}

footer{
    height: 10vh;
    background-color:black ;
    color: wheat;
    
}
footer p{
    text-align: center;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 0;
}
.hero_wrapper{
    height: 100vh;
}
.contact_container{
    border: 1.5px solid rgba(60, 60, 111, 0.746) ;
    border-radius: 5px;
    box-shadow: 10px 10px 8px rgba(60, 60, 111, 0.746);
    width: 50%;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 70px;
    
}
.contact_container .contactMe{
    margin: 20px 20px;
    
}
.GetInTouch_container .GetInTouch{
    margin: 0px 20px;
}
.contact_container .form_group{
    margin-top: 10px;

}
.contact_container .form_group input{
    padding: 5px 40px;
    border-radius: 5px;
}
.contact_container .btn_container{
    margin-top: 20px;
    padding: 20px 10px;
}
.contact_container .btn{
    padding: 8px 20px;
    border-radius: 5px;
    color: wheat;
    background-color:rgba(60, 60, 111, 0.746) ;
}